{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block aboutactive %} active {% endblock aboutactive %}

{% block body %} 
<div class="container my-3">
    <div class="jumbotron">
       <b> <h1 class="display-4">About Academic Director NMITD!</h1></b>
        <p class="lead">A simple platform for students, teachers and all other academic members to manage events.</p>
        <hr style="height:3px;border-width:0;color:gray;background-color:gray">
        <p>join our inta page and explore the community.</p>
        <a class="btn btn-primary btn-lg" href="https://www.instagram.com/rubaroo.nmitd/" role="button">visit our insta page</a>
        <hr style="height:3px;border-width:0;color:gray;background-color:gray">
        <p>join our facebook community and communicate with experienced teachers and alumni</p>
        <a class="btn btn-primary btn-lg" href="https://business.facebook.com/pg/desnmitd/posts/" role="button">visit our facebook page </a>
    </div>
</div>
{% endblock body %}